@(vf:ValidationForm, targetFormat: String, targetVocabulary: String, result: String)

@import play.api.i18n.Messages
@import es.weso.shacl._

@main(Messages("Convert.Schema"))(vf) {

@if(!result.isEmpty) {
<h1>Result</h1>
<pre class="prettyprint linenums lang-turtle">@result</pre>
}

<a href="@routes.SchemaConverter.convert_schema_get(
	         vf.schemaStr,
	         vf.schemaFormat,
             vf.schemaVocabulary,
             vf.schemaProcessor,
             targetFormat,
             targetVocabulary
	         )">Generate permalink</a>

<form method="post" 
	  enctype="multipart/form-data" 
	  action="@routes.SchemaConverter.convert_schema_post">

<label for="targetFormat">@Messages("Output.schema.format")</label>
    <select name="targetFormat">
      @for(s <- SchemaLanguage.availableFormats) {
      	<option value="@s"
      	 @{if(targetFormat==s) { "checked" }}>@s</option>
      }
    </select>

<label for="targetVocabulary">@Messages("Output.schema.vocabulary")</label>
    <select name="targetVocabulary">
      @for(s <- SchemaVocabulary.availableNames) {
      	<option value="@s"
      	 @{if(targetVocabulary==s) { "checked" }}>@s</option>
      }
    </select>
    
@submit()

@hidden_inputs(vf)

@tabs_schemaInput(vf)

</form>	

}
